.q-btn 
{
    display: inline-flex; 
    align-items: center;
    padding: 0px 16px;
    height: 39px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    img 
    {
        margin-right: 8px;
    }
}

.q-btn--github 
{
background: #45465B;

    img{
        width: 19px;
    }
}

.q-btn--discord
{
    background: #6578CB;

    img{
        width: 16px;
    }
}